.navbar{
    
    border: 1px solid none;
    
    
}
header{
    
}
ul{
    list-style-type: none;
    background-color: #FF6000;
    border: solid 10px #FF6000 ;
    display: flex;
}
li a{
    overflow: hidden;
    padding: 10px;
    align-items: center;
    display: inline;
    text-decoration: none;
    color: white;
}


